<!DOCTYPE html>
<html>
	<head>
		<!--scale on mobile correctly-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<h2>Send Skelly Insults</h2>
		<p>Type something in the box, optionally put your name in, and send it to skellys phone!</p><br>
		<form method="post" action="/api/send">
			<input type="text" name="message" maxlength="240" minlength="1" placeholder="Type a message..." required>
			<input type="text" name="name" maxlength="40" placeholder="Your name (optional)">
			<input type="submit" value="Send">
		</form>
	</body>
</html>