<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Vukky Insults</title>
    <!-- The style.css file allows you to change the look of your web pages.
         If you include the next line in all your web pages, they will all share the same look.
         This makes it easier to make new pages for your site. -->
    <style>
	  @font-face {
		font-family: "Terminus";
		src: url("/resources/Terminus.ttf");
	  }
      html { 
		background-color: #140A19; 
		color: white; 
		background-image: none; 
		cursor: auto; 
		font-family: "Terminus", sans-serif; 
		height: 100%; 
		width: 100%
      }
      #wrapper {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform 1s ease-in-out;
        width: 20em;
        height: 30em;
        background-color: rgb(20, 10, 25);
      }
	  .onespeech {
      border-style: solid;
      border-image-source: url("/resources/border.png");
      border-image-slice: 10;
      border-image-width: 10px;
      background-color: rgb(20, 10, 25);
      border-radius: 10px 10px 10px 10px;
      padding: 10px 15px 10px 15px;
	  }

    h1 { margin-top: 0.3em; margin-bottom: 0.3em;}

    textarea[name="message"] {
      resize: none;
      width: 19em;
      height: 23em;
      margin-bottom: 0.8em;
      font-family: "Terminus", sans-serif; 
    }

    input[name="author"], input[type="submit"] {
      font-family: "Terminus", sans-serif; 
    }

    input[type="submit"] {
      margin-left: 1.3em;
      width: 5em;
    }
    </style>
  </head>
  <body>
    <div id="wrapper" class="onespeech"><span id="contents">
      <% if(sent) { %>
        <h1>Message sent!</h1>
        <p>I hope it's something creative...<br><br>Please note I cannot reply to messages sent here. If you want a reply, <a href="mailto:vukky@litdevs.org" style="color: white;">e-mail me</a> instead.</p>
        <img src="https://vukkybox.com/resources/vukkied.svg" style="position: absolute; left: 68%; top: 78%;" height="100em">
      <% } else if (banned) {%>
        <h1>You are banned.</h1>
        <img src="https://vukkybox.com/resources/vukkied.svg" style="position: absolute; left: 68%; top: 78%;" height="100em">
      <% } else if (ratelimit) {%>
        <h1>Too quick!</h1>
        <p>Please don't spam my phone...</p>
        <img src="https://vukkybox.com/resources/vukkied.svg" style="position: absolute; left: 68%; top: 78%;" height="100em">
      <% } else {%>
        <h1>Dear Vukky,</h1>
        <form method="post" action="/api/send" onsubmit="slideItDown()">
          <textarea type="text" name="message" maxlength="240" minlength="1" placeholder="Type a message... (max 240 characters)" required></textarea>
          Regards, <input type="text" name="author" maxlength="40" placeholder="your name (optional)"> <input type="submit" value="Send">
        </form>
      <% } %>
    </span></div>
  </body>
</html>
